<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="background-color:#6388C4;" width="100%" border="0" align="center">
    <tbody>
    <tr>
        <td style="padding:20px">
            <table style="background-color:#d9e0ec !important;" width="100%" border="0" align="center">
                <tbody>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" colspan="2" align="center"><b><font
                            size="5">lakslakslka</font></b><font size="3"></font></td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center"></td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">Capa</td>
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">Sinopse</td>
                </tr>
                <tr valign="middle">
                    <td style="padding:15px" width="50%" valign="top"> <!-- poster -->
                        <div style="text-align: center;"><img
                                src="https://www.infoanime.com.br/poster/2021/nanatsunotaizai4.jpg"
                                style="min-width: 300px !important;text-align: center; max-height: 400px;"></div>
                    </td>
                    <td style="padding:15px" width="50%" valign="top">
                        <div style="text-align: justify; text-justify: inter-word;">LKalskalsk alks lakslakslaks lakslak
                            slka lsk alks laks lakslaks lkas lkaslk
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" colspan="2" align="center">
                        ScreenShots
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center"><a href="https://a.imagem.app/Ah4Axi.jpg" data-ipslightbox=""><img
                            src="https://a.imagem.app/Ah4Axi.jpg" width="200"></a> <a
                            href="https://a.imagem.app/Ah4bZ8.jpg" data-ipslightbox=""><img
                            src="https://a.imagem.app/Ah4bZ8.jpg" width="200"></a> <br>
                        Clique na imagem para ver em tamanho real
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <div>Dados da Anime</div>
                    </td>
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <div>Dados Técnicos</div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="padding:15px" width="50%" valign="top"><br>
                        <b>Tempo de Duração:</b> alsklasklak
                    </td>
                    <td style="padding:15px" width="50%" valign="top"><b>Qualidade do Vídeo:</b> HDTV<br>
                        <b>Idioma do Áudio:</b> lakslk<br>
                        <b>Legenda:</b> anexada(s) ao Post<br>
                        <b>Formato do Vídeo:</b> lakslaksl<br>
                        <b>Resolução:</b> 1920 x 1080
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" colspan="2" align="center">Informações
                        Gerais
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <div><b>Tamanho do Arquivo:</b> kaslkal<br>
                            <b>Quantidade de Mídias:</b> 1<br>
                            <b>Tipo de Compartilhamento:</b> http<br>
                            <b>Fansubber:</b> alskalsk
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" colspan="2" align="center">Download
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center"><br>
                        https://mega.nz/akjslkajslkjaslkjaslkj
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
