<!DOCTYPE html>
<html id="ipsfocus" lang="pt-BR" dir="ltr">
<head></head>
<body>
<table style="background-color:#6388C4;" width="100%" border="0" align="center">
    <tbody>
    <tr>
        <td style="padding:20px;">
            <table style="background-color:#d9e0ec;" width="100%" border="0" align="center">
                <tbody>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <a href="https://a.imagem.app/AhiP9y.png" rel="external nofollow noopener" target="_blank"><img
                                alt="https://a.imagem.app/AhiP9y.png" src="https://a.imagem.app/AhiP9y.png" border="0"></a>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <b><font size="5">Dr. Stone: Stone Wars</font></b>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        &nbsp;
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        Capa
                    </td>
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        Sinopse
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="padding:15px;" width="50%" valign="top">
                        <div style="text-align:center;">
                            <a href="https://www.infoanime.com.br/poster/2021/drstone2.jpg" title="Ampliar imagem"
                               data-ipslightbox="" data-ipslightbox-group="g40044"><img
                                    src="https://www.infoanime.com.br/poster/2021/drstone2.jpg"
                                    style="min-width:300px;text-align:center;max-height:400px;" alt="drstone2.jpg"
                                    class="ipsImage_thumbnailed"></a></div>
                    </td>
                    <td style="padding:15px;" width="50%" valign="top">
                        <div style="text-align:justify;">
                            Segunda temporada de Dr Stone<br><br>
                            Num dia fatídico, toda a humanidade foi petrificada por um flash ofuscante de luz. Depois de
                            vários milênios, o colegial Taiju desperta e se vê perdido em um mundo de estátuas. No
                            entanto, ele não está sozinho! Seu amigo de amante de ciências Senku está acordado e
                            trabalhando há alguns meses e ele tem um grande plano em mente: dar o pontapé inicial na
                            civilização com o poder da ciência!
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        ScreenShots
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <a href="https://a.imagem.app/AhVk3y.jpg" rel="external nofollow noopener" target="_blank"><img
                                src="https://a.imagem.app/AhVk3y.jpg" alt="AhVk3y.jpg" class="ipsImage_thumbnailed"
                                width="200"></a> <a href="https://a.imagem.app/AhVzFr.jpg"
                                                    rel="external nofollow noopener" target="_blank"><img
                            src="https://a.imagem.app/AhVzFr.jpg" alt="AhVzFr.jpg" class="ipsImage_thumbnailed"
                            width="200"></a> <a href="https://a.imagem.app/AhV7WP.jpg" rel="external nofollow noopener"
                                                target="_blank"><img src="https://a.imagem.app/AhV7WP.jpg"
                                                                     alt="AhV7WP.jpg" class="ipsImage_thumbnailed"
                                                                     width="200"></a> <a
                            href="https://a.imagem.app/AhV2Q2.jpg" rel="external nofollow noopener" target="_blank"><img
                            src="https://a.imagem.app/AhV2Q2.jpg" alt="AhV2Q2.jpg" class="ipsImage_thumbnailed"
                            width="200"></a><br>
                        Clique na imagem para ver em tamanho real
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <div>
                            Dados da Anime
                        </div>
                    </td>
                    <td style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <div>
                            Dados Técnicos
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td style="padding:15px;" width="50%" valign="top">
                        <b>Nome Original do Anime:</b> ドクターストーン STONE WARS<br><b>Titulo Inglês: </b>Dr. Stone 2,
                        Dr. Stone 2nd Season<br><b>Tempo de Duração:</b> ~25min p/ epi<br><b>Quantidade Episodios:</b>12<br><b>Gênero:</b>
                        Aventura, Sci-Fi, Shounen.
                    </td>
                    <td style="padding:15px;" width="50%" valign="top">
                        <b>Qualidade do Vídeo:</b> HDTV<br><b>Idioma do Áudio:</b> Japonês<br><b>Legenda:</b>
                        Embutida<br><b>Formato do Vídeo:</b> Widescreen<br><b>Resolução:</b> 1920 x 1080
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        Informações Gerais
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <div>
                            <b>Tamanho do Arquivo:</b> =~450Mb por Episódio<br><b>Quantidade de Mídias:</b> 1<br><b>Tipo
                            de Compartilhamento:</b> http<br><b>Fansubber:</b> Fenix Fansub<br><b>Upado por:</b> André
                            Alcantara
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        Vídeo/Trailer
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <div style="text-align:center;">
                            <iframe allowfullscreen="" src="https://www.youtube.com/embed/esjDq0JQ_1s" width="560"
                                    height="315" frameborder="0"></iframe>
                        </div>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        Download
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <br><a href="http://bit.ly/CPT_DrStoneS02_01_2021" rel="external nofollow noopener"
                               target="_blank">http://bit.ly/CPT_DrStoneS02_01_2021</a>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" style="background-color:#6388C4;padding:5px;color:#FFF;" align="center">
                        <b>Senha</b>
                    </td>
                </tr>
                <tr valign="middle">
                    <td colspan="2" align="center">
                        <img src="https://i.ibb.co/zsqGNsq/image.png" alt="image.png"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
